body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}



#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
}

.puppyContainer {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.puppy {
  margin: 5px;

}

.puppyImage {
  width: 300px;
}

.puppyName {
  display: flex;
  justify-content: space-around;
}

.pupContainer {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.pup {
  margin: 5px;
  
}

.pupImage {
  width: 300px;
}

.pupName {
  display: flex;
  justify-content: space-around;
}


/* .detailButton {
  
} */